@model CarListViewModel

<table class="admin-panel-table">
    <thead>
        <tr>
            <th>License plate</th>
            <th>Name</th>
            <th>Rent</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.LicensePlateNumber</td>
                <td>@car.Brand @car.Model @car.YearOfManufacture.ToString("yyyy")</td>
                <td>@car.IsRented</td>
                <td>@car.PricePerDay</td>
                <td>
                    <form asp-action="DeleteCar" asp-controller="Admin" method="post" class="delete-form">
                        <input type="hidden" name="carId" value="@car.CarId" />
                        <button type="submit" class="btn-delete">Delete</button>
                    </form>
                    <a href="@Url.Action("EditCar", "Admin", new { carId = car.CarId })" class="btn-edit">Edit</a>
                    <a href="@Url.Action("DetailsCar", "Admin", new { carId = car.CarId })" class="btn-details">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
