@model CarListViewModel

<table class="admin-panel-table">
    <thead>
        <tr>
            <th>Рег. номер</th>
            <th>Име</th>
            <th>Наета</th>
            <th>Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.LicensePlateNumber</td>
                <td>@car.Brand @car.Model @car.YearOfManufacture.ToString("yyyy")</td>
                <td>@(car.IsRented ? "Yes" : "No")</td>
                <td>@car.PricePerDay</td>
                <td>                  
                    @if (!car.IsRented)
                    {
                        <a asp-action="EditCar" asp-controller="Admin" asp-route-carId="@car.CarId" class="btn-edit">Промяна</a>

                        <form asp-action="DeleteCar" asp-controller="Admin" method="post" class="delete-form">
                            <input type="hidden" name="carId" value="@car.CarId" />
                            <button type="submit" class="btn-delete">Изтрий</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
