@model ClientsListAdminPanelViewModel

<table class="admin-panel-table">
    <thead>
        <tr>
            <th>Собствено име</th>
            <th>Бащино име</th>
            <th>Фамилно име</th>
            <th>Email</th>
            <th>Тел. номер</th>
            <th>Username</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.FirstName</td>
                <td>@client.MiddleName</td>
                <td>@client.LastName</td>
                <td>@client.Email</td>
                <td>@client.PhoneNumber</td>
                <td>@client.UserName</td>
                <td>
                    <form asp-action="DeleteUser" asp-controller="Admin" method="post" class="delete-form">
                        <input type="hidden" name="userId" value="@client.Id" />
                        <button type="submit" class="btn-delete">Изтрий</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
